<%= form_for @link do |f| %>
  <% if @link.errors.any? %>
    <h2><%= pluralize(@link.errors.count, 'error') %></h2>
    <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="content_form">
    <%= f.label :title %>
    <div class="input-group-lg">
      <%= f.text_field :title, class: "form-control", placeholder: 'Titulo' %>
    </div>
    <%= f.label :url %>
    <div class="input-group-lg">
      <%= f.text_field :url, class: "form-control", placeholder: 'Url' %>
    </div>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>