.link_content
  %h2= @link.title
  %small
    Submitted #{time_ago_in_words(@link.created_at)} Ago Submitted by #{@link.user.email}
  %br/
  .btn-group
    = link_to 'Visit URL', @link.url, class: "btn btn-primary"
  .btn-group
    = link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do
      %span.glyphicon.glyphicon-chevron-up
      Upvote
      \#{@link.get_upvotes.size}
    = link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do
      %span.glyphicon.glyphicon-chevron-down
        Downvote
        \#{@link.get_downvotes.size}
  %br/
  = render contact_user_partial_path
%h3
  = @link.comments.count
  coments
= render 'comments/form'
= render @link.comments